<!doctype html>
<html>
<head>
  <title>Defined</title>
  <link rel="stylesheet" href="../../assets/stylesheets/application.css">
</head>
<body>

  <div class="view-container">
    <div ng-view=""></div>
  </div>

</body>
</html>
