<h1>Defined</h1>

<div ng-controller="HomeCtrl">

  <div id="form-div">
    <form ng-submit="submit()" >
      Enter text and hit enter:
      <input type="text" ng-model="text" name="text" />
      <input type="submit" id="submit" value="Submit" />
    </form>
  </div>

  <div id="list-id">
    <h2>Words</h2>
    <a ng-repeat="word in list track by $index">
      <h4>
        {{word}}
      </h4>
      <h5 id="modal"style="display:none" showonhoverparent>
        {{word}}
      </h5>
      <br>
    </a>
  </div>

</div>
